<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
	    <typeAlias alias="MessageData"	type="com.wooricard.scheduler.entity.MessageData" />    
	    <typeAlias alias="ResultData"	type="com.wooricard.scheduler.entity.ResultData" />    
	    <typeAlias alias="BatchData"	type="com.wooricard.scheduler.entity.BatchData" />    
	    <typeAlias alias="QueryParams"	type="com.wooricard.scheduler.common.QueryParamsEx" />   
   	</typeAliases>

</configuration>
	    